@layer theme, base, antd, components, utilities;

@import 'tailwindcss';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #F1F5F9;
  --color-sidebar: #001529;

  --color-primary-50: #e6f3ff;
  --color-primary-100: #b3d7ff;
  --color-primary-200: #8abeff;
  --color-primary-300: #61a3ff;
  --color-primary-400: #3884ff;
  --color-primary-500: #1062ff;
  --color-primary-600: #0246d9;
  --color-primary-700: #0033b3;
  --color-primary-800: #00238c;
  --color-primary-900: #001666;

  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1600px;

  --radius-xs: 2px;
  --radius-sm: 2px;
  --radius-md: 2px;
  --radius-lg: 2px;
  --radius-xl: 10px;
  --radius-2xl: 12px;
  --radius-3xl: 14px;
  --radius-4xl: 16px;
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white;
  }
}
