@layer theme, base, antd, components, utilities;

@import 'tailwindcss';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #f1f5f9;
  --color-sidebar: #001529;

  --color-primary-50: #e6f3ff;
  --color-primary-100: #b3d7ff;
  --color-primary-200: #8abeff;
  --color-primary-300: #61a3ff;
  --color-primary-400: #3884ff;
  --color-primary-500: #1062ff;
  --color-primary-600: #0246d9;
  --color-primary-700: #0033b3;
  --color-primary-800: #00238c;
  --color-primary-900: #001666;

  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1600px;

  --radius-xs: 0px;
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 10px;
  --radius-2xl: 12px;
  --radius-3xl: 14px;
  --radius-4xl: 16px;

  --animate-glint: glint 5s linear infinite;
  @keyframes glint {
    0% {
      left: -120%;
    }
    8% {
      left: 50%;
    }
    100% {
      left: 50%;
    }
  }
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white;
  }
}

@utility glint {
  content: '';
  display: block;
  position: absolute;
  top: -50%;
  left: -120%;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(
    125deg,
    hsla(0, 0%, 100%, 0) 30%,
    hsla(0, 0%, 100%, 0.4) 50%,
    hsla(0, 0%, 100%, 0) 52%
  );
}
